* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.header {
    padding: 15px 0;
}
.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
}
.navigation-link {
    text-decoration: none;
    color: #939699;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
}
.button {
    padding: 10px 20px;
    background: #4592FF;
    border-radius: 20px;
    border: none;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}
.button-icon, .button-price {
    margin-right: 10px;
}
.button-icon:last-child{
    margin-right: 0;
    margin-left: 10px;
}
.slide {
    padding-top: 90px;
    padding-bottom: 110px;
}
.slide-1 {
    background: #B4D1E0 url("../images/slide-image-1.png") no-repeat top right 20%;
}
.label {
    background: #3DC47E;
    border-radius: 3px;
    padding: 5px 12px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 15px;
}
.slide-title {
    color: #262D33;
    font-size: 55px;
    line-height: 70px;
    font-family: 'Roboto Slab', serif;
    margin-top: 20px;
    margin-bottom: 15px;
}
.slide-description {
    font-size: 18px;
    line-height: 30px;
    color: #4B5157;
    max-width: 335px;
    margin-bottom: 40px;
}
.slider {
    position: relative;
}
.slider-nav {
    position: absolute;
    top: 50%;
    width: 100%;
}
.slider-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.card {
    min-height: 370px;
    border-radius: 10px;
    padding-top: 60px;
    padding-left: 46px;
    padding-right: 46px;
    padding-bottom: 80px;
}
.card-1 {
    background: #E3E2E3 url("../images/card-1.jpg") no-repeat top right;
    background-size: cover;
}
.card-2 {
    background: #E3E2E3 url("../images/card-2.jpg") no-repeat top right;
    background-size: cover;
}
.card-3 {
    background: #CCD5E6 url("../images/card-3.png") no-repeat top right 10%;
    background-size: contain;
    padding-top: 35px;
}
.card-4 {
    background: #FF4F52 url("../images/card-4.png") no-repeat top right;
    background-size: contain;
    padding-top: 35px;
    padding-left: 25px;
}
.card-title {
    color: #262D33;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    max-width: 253px;
}
.card-title.large {
    max-width: 419px;
    font-size: 40px;
    line-height: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.card-text {
    color: #4B5157;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    max-width: 176px;
    margin-bottom: 25px;
}
.card-text.large {
    max-width: 320px;
}
.text-light {
    color: #FFFFFF;
}
.card-price {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
    font-weight: 900;
}
.section-title {
    color: #262D33;
    font-size: 25px;
    line-height: 30px;
    font-family: 'Roboto Slab', serif;
}
.link-more {
    text-decoration: none;
    color: #262D33;
    font-size: 14px;
    line-height: 20px;
    font-weight: 900;
    padding: 10px;
}
.goods-card {
    position: relative;
    text-align: center;
    padding: 30px 35px 35px;
}
.goods-card .label {
    position: absolute;
    left: 18px;
    top: 18px;
}
.goods-title {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 25px;
    color: #262D33;
    font-family: 'Roboto Slab', serif;
}
.goods-description {
    color: #4B5157;
    font-size: 14px;
    line-height: 20px;
}
.goods-price {
    color: #262D33;
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
}